{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<!--Command: nfdump [-R <directory> | -r <path to file>] [-c <int>] ['FILTERING OPTIONS'] [-o csv -o "fmt:%<>,%<>,%<>"] > /directory/to/searches/for/user/NAME.csv-->

<!--Required: specify day (directory), -R-->
<!--Optional: specify file in directory, default back to -r /directory/path/to/file-->
<!--Optional: specify entry limit-->
<!--Optional: define output format: -o "<fmt>:..." | -o line-->
    <!--Checkboxes-->

<!--Filtering:-->
    <!--Default use AND-->

    <!--Optional: duration, int in milliseconds-->
    <!--Optional: srcip, text-->
    <!--Optional: destip, text-->

    <!--Optional: srcport, text-->
    <!--Optional: dstport, text-->
    <!--Optional: protocol (TCP, UDP, ICMP, etc.), text-->

    <!--Optional: overrides previous - text input for custom-->

<!--Optional: Define own command entirely - textarea-->

<section class="content-header">
    <h1>
        Pulse
        <small>Heartbeat nfdump Wrapper</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="admin_home"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Pulse</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="pulse_form" method="POST" action="/pulse_form">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Setup</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Starting Directory</label>
                                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                    <input type="text" class="form-control" id="start_directory" name="start_directory" placeholder="Date (yyyy-mm-dd)">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                                <p class="help-block"><b>OPTIONAL:</b> The starting directory serves as the -R argument
                                    for the CLI. This should be the directory that contains nfcapd files. Use the
                                    configs/general_config.py file to specify the path to these directories.</p>
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Specific nfcapd File</label>
                                <input type="text" class="form-control" id="nfcapd_file" name="nfcapd_file" placeholder="Filename (nfcapd.201809092350)">
                                <p class="help-block"><b>OPTIONAL:</b> A specified file serves as the -r argument for
                                    the CLI. You can choose to look at a specific nfcapd file within the starting
                                    directory by defining the filename here.</p>
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Entry Limit</label>
                                <input type="text" class="form-control" id="entry_limit" name="entry_limit" placeholder="Integer (10)">
                                <p class="help-block"><b>OPTIONAL:</b> The entry limit serves as the -c argument for
                                    the CLI. You can choose to have a set number of output entries.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="form-group col-lg-6">
                                <label>Format Options (Crtl+Click)</label>
                                <select multiple class="form-control" id="format_options" name="format_options">
                                    <option value="%ts">Start Time</option>
                                    <option value="%te">End Time</option>
                                    <option value="%td">Duration</option>
                                    <option value="%pr">Protocol</option>
                                    <option value="%sa">Source Address</option>
                                    <option value="%da">Destination Address</option>
                                    <option value="%sap">Source Address:Port</option>
                                    <option value="%dap">Destination Address:Port</option>
                                    <option value="%sp">Source Port</option>
                                    <option value="%dp">Destination Port</option>
                                    <option value="%sas">Source AS</option>
                                    <option value="%das">Destination AS</option>
                                    <option value="%in">Input Interface num</option>
                                    <option value="%out">Output Interface num</option>
                                    <option value="%pkt">Packets</option>
                                    <option value="%byt">Bytes</option>
                                    <option value="%fl">Flows</option>
                                    <option value="%flg">TCP Flags</option>
                                    <option value="%tos">Tos</option>
                                    <option value="%bps">Bits per Second</option>
                                    <option value="%pps">Packets per Second</option>
                                    <option value="%bpp">Bytes per Package</option>
                                </select>
                                <p class="help-block"><b>OPTIONAL:</b> The format options serves as the -o argument for
                                    the CLI. Choose the header options that you would like to see in the CSV file. This
                                    will default to <i>line</i> as described in the nfdump documentation.</p>
                            </div>
                            <div class="col-lg-3"></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Filtering</h3>
                                <p class="help-block">The default filtering method uses the AND operator to concatenate
                                    all expressions, == to find exact matches, and > for numeric values (duration).
                                    If you want to use other operators (<, NOT, etc.) please use the custom filtering
                                    option below.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Duration</label>
                                <input type="text" class="form-control" id="duration" name="duration" placeholder="Milliseconds">
                                <p class="help-block"><b>OPTIONAL:</b> Filters entries by the amount of elapsed time
                                    (in milliseconds) between the <i>Start Time</i> and <i>End Time</i> fields.</p>
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Source IP</label>
                                <input type="text" class="form-control" id="source_ip" name="source_ip" placeholder="10.16.66.42">
                                <p class="help-block"><b>OPTIONAL:</b> Filters all entries with a matching srcip.</p>
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Destination IP</label>
                                <input type="text" class="form-control" id="destination_ip" name="destination_ip" placeholder="10.16.66.42">
                                <p class="help-block"><b>OPTIONAL:</b> Filters all entries with a matching destip.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Source Port</label>
                                <input type="text" class="form-control" id="source_port" name="source_port" placeholder="80">
                                <p class="help-block"><b>OPTIONAL:</b> Filters all entries with a matching source port.</p>
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Destination Port</label>
                                <input type="text" class="form-control" id="destination_port" name="destination_port" placeholder="443">
                                <p class="help-block"><b>OPTIONAL:</b> Filters all entries with a matching destination port.</p>
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Protocol</label>
                                <input type="text" class="form-control" id="protocol" name="protocol" placeholder="TCP, UDP, etc.">
                                <p class="help-block"><b>OPTIONAL:</b> Filters all entries with a matching protocol.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Custom Filtering and Command</h3>
                                <p class="help-block">The Custom Filtering input will override anything in the Filtering
                                    section above. The Custom Command input will override anything in the entire form.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label>Custom Filtering</label>
                                <textarea placeholder="Example: proto tcp and ( src ip 172.16.17.18 or dst ip 172.16.17.19 )"
                                          class="form-control rounded-0" id="custom_filtering" name="custom_filtering"
                                          rows="10"></textarea>
                                <p class="help-block"><b>OPTIONAL:</b> Adds filtering to the search criteria. This WILL
                                    override any input in the previous Filtering section!</p>
                            </div>

                            <div class="form-group col-lg-6">
                                <label>Custom Command</label>
                                <textarea placeholder="Example: nfdump -R 2018-09-09 -o csv 'proto tcp and ( src ip 172.16.17.18 or dst ip 172.16.17.19 )'"
                                          class="form-control rounded-1" id="custom_command" name="custom_command" rows="10"></textarea>
                                <p class="help-block"><b>OPTIONAL:</b> Runs a custom search based on the supplied command.
                                    Please make sure to output a CSV file (-o csv).
                                    This WILL override any input in the entire form!</p>
                                <!--If you would like to format the CSV,
                                    select the column headers in the <b>format options</b> section above.-->
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}