{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<section class="content-header">
    <h1>
        Pulse File: {{ filename }}
        <small>CSV File Snapshot</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="admin_home"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Pulse</li>
    </ol>

    <br/>

    <!-- Export File -->
    <form name="export_csv" action="/export_csv" method="POST">
        <button class="btn btn-primary" type="submit" name="export_csv" value="{{ user + '/' + filename }}">Export File!</button> 
    </form>
</section>

<section class="content">
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    {% for fieldname in fieldnames %}
                        <th scope="col">{{ fieldname }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for entry in row %}
                            <td>{{ entry }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}