{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<section class="content-header">
    <h1>
        Pulse Data
        <small>CSV Search View</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="admin_home"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Pulse</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        {% if dir_exists() %}
            {% for user in get_users() %}
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class = "panel-heading">
                            <h3 class = "panel-title">
                                {{ user }} Searches
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                {% for file in get_search_files(user) %}
                                <a href="{{ file }}|{{ user }}" class="list-group-item list-group-item-action">
                                    {{ file }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h2>No searches to display!</h2>
            </div>
            <div class="col-lg-4"></div>
        {% endif %}
    </div>
</section>
{% endblock %}