<!--Configuration file that denotes the authenticated user dropdown icon within the menu bar-->
{% extends 'admin/base.html' %}
{% block access_control %}

<!--Check if user is authenticated-->
{% if current_user.is_authenticated %}

<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user-circle" style="color: white; font-size: 1.4em;"></i>
        <span class="hidden-xs">
            {% if current_user.first_name %}
                {{ current_user.first_name }}
            {% else %}
                {{ current_user.email }}
            {% endif %}
        </span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <i class="fa fa-user-circle" style="color: white; font-size: 7em;"></i>
            <p>
                {% if current_user.first_name %}
                    {{ current_user.first_name }}
                {% else %}
                    {{ current_user.email }}
                {% endif %}
            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="text-center">
                <a href="{{ url_for('security.logout') }}" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>

{% endif %}
{% endblock %}
